.divFooter {
    height: 250px;
    width: auto;
    background-color: #B61A4C;
    bottom: 0px;
    position: fixed;
    clear: both;
    position: relative;
    margin-top: 30px;
}

.footer-image {
    height: auto;
    width: auto;
    padding-top: 0.7rem;
}

.footerArea {
    margin-top: 50px;
    /* margin-left: 0px; */
}

.footerLabels {
    font-size: 16px;
    color: #FFFFFF;
    display: inline;
    font-weight: lighter;
    margin-top: 0.5rem;
}

.specialsLink {
    float: right;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    text-align: center;
    padding: 5px 15px 0px;
}

.specialsLink:hover {
    cursor: pointer;
}

.caret:hover, label:hover {
    cursor:grab;
}

/* ::ng-deep .mat-menu, .mat-menu-item, .mat-menu-background {
    background-color: #FFFFFF;
    color: #575757;
}

::ng-deep .mat-menu:hover, .mat-menu-item:hover {
    color: #FFFFFF;
    background-color: #575757;
} */