<!-- Greater than mobile devices -->
<div class="div-main">
    <div class="col-xs-2 col-sm-8 col-md-8 col-md-offset-2 col-lg-10 col-lg-offset-1">
        <mat-spinner [diameter]="40" *ngIf="isLoading === true"></mat-spinner>
        <div class="mainDiv" *ngIf="isLoading === false">
            <div fxHide.xs>
                <div class="banner">
                    <img class="bannerImage" src="../../../assets/onlineshopping_logo.png" width="157px;" height="36px" style="object-fit: cover; margin-top: 10px;" (click)="onHomeNav()">
                    <label style="margin-top: 20px; color: #575757; font-weight: 400; font-size: 16px;" fxFlex fxLayout fxLayoutAlign="flex-end">Don't have an account? </label>
                    <a (click)="onSignupNav()" style="margin-top: 20px; cursor: pointer; margin-left: 8px; font-size: 16px;"><u><b>Sign up</b></u></a>
                </div>
                <div style="margin-top: 70px;">
                    <div class="col-xs-2 col-sm-4 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
                        <div class="col-md-6 col-md-offset-3 col-lg-8 col-lg-offset-4">
                            <h2 style="color: #727171; font-weight: 400">
                                <b>Log In</b>
                              </h2>
                            <p style="font-size: 16px; color: #575757; margin-top: 15px;">Registered on our website or app?</p>
                            <p style="font-size: 16px; color: #575757;">Use your same login details here.</p>
                        </div>
                        <div class="col-md-6 col-md-offset-3 col-lg-8 col-lg-offset-4" style="margin-top: 15px;">
                            <form #loginForm="ngForm" autocomplete="off" (ngSubmit)="onLogin(loginForm)">
                                <div>
                                    <label class="inputLabel">Email address / username</label><br />
                                    <input name="email" id="email" ngModel role="presentation" email class="userInput" type="email" minlength="5" required>
                                </div>
                                <div style="display:flexbox;">
                                    <label class="inputLabel" style="margin-top: 15px;">Password</label>
                                    <show-hide-password size="lg" btnStyle="primary" [btnOutline]="true" style="display:inline-flexbox; z-index: 0;">
                                        <input name="password" id="password" role="presentation" ngModel password class="userInput" type="password" minlength="6" required>
                                        <label style="font-size: 12px; color: #3374B5; display:block; margin-top:8rem;">Show/Hide</label>
                                    </show-hide-password>
                                </div>
                                <br />
                                <div style="display: flexbox;">
                                    <button style="margin-top: 2rem;margin-bottom: 2rem;" class="submitButton" mat-raised-button type="submit" [disabled]="!loginForm.valid">Login</button><br />
                                    <a style="font-weight: 100; font-size: 16px; cursor: pointer;margin-top: 10%;" (click)="onNavForgetPassword()"><u><b>Forget Password?</b></u></a><br />
                                </div>
                            </form>
                            <br /><br /><br /><br />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Mobile Layout -->
<div fxHide.gt-xs>
    <div class="mobile__navbar">

    </div>
</div>