.mainDiv {
  margin-top: 35px;
}

table,
tr,
td {
  margin-top: 50px;
  margin-bottom: 50px;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}

tr {
  border-bottom: 1px solid #575757c2;
  color: #464545dc;
}

.title {
  font-weight: 400;
  color: #464545dc;
  padding: 5px;
}

td {
  font-weight: 200;
  color: #464545dc;
}

tr:nth-child(even) {
  background-image: linear-gradient(to right, #d4d1d1a1, #fafafaad);
}

thead tr th:first-child,
tbody tr td:first-child  {
  width: 25rem;
}

button {
  font-size: 12px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 100px;
}

.heading {
  color: #b9154a;
  text-align: center;
  margin-top: 40px;
  margin-left: 100px;
  margin-right: auto;
  font-family: Roboto;
  position: relative;
}

.title {
  font-weight: 400;
}

input[type="text"]:focus {
  width: 600px;
  border: none;
  border-style: none;
  text-decoration: none;
  outline: none;
}

input[type="text"] {
  width: 600px;
  text-align: center;
  padding-left: auto;
  padding-right: auto;
  border: none;
  border-style: none;
  text-decoration: none;
  outline: none;
  background-color: transparent;
  color: #464545dc;
}

.users-table {
  width: 100%;
  border-radius: 5px;
  font-weight: 200;
}

.user-name {
  font-family: Roboto;
}

button {
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}

.mat-spinner {
  position: relative;
  margin-left: 50%;
  margin-right: 50%;
  margin-bottom: 50%;
  margin-top: 25%;
}
