.heading {
    color: #003359;
    font-size: 24px;
    font-family: Roboto;
    font-weight: 500;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}

.intro {
    font-size: 16px;
    color: #003359;
    font-family: Roboto;
}

input[type="password"] {
    border: 1px solid lightgrey;
}

.email {
    border: 1px solid lightgrey;
    color: #575757;
    width: 230px;
    height: 30px;
    font-weight: 100;
}

.inputEmail {
    width: 280px;
    height: 30px;
    border: 1px solid lightgrey;
    color: #575757;
}

.submitButton {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 12px;
}

.submitButton:disabled,
.submitButton[disabled] {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 12px;
    background-color: #575757;
    color: aliceblue;
}

.container {
    margin-top: 35px;
}

.inputEmail:focus {
    text-decoration: none;
    border: 1px solid lightgrey;
    outline: none;
}
