<div class="col-xs-2 col-sm-8 col-md-10 col-lg-12" style="margin-top: 35px;">
    <app-navbar></app-navbar>
  </div>
<div class="col-xs-2 col-sm-8 col-md-8 col-md-offset-2 col-lg-10 col-lg-offset-1">
    <div class="container" fxHide.xs>
        <div style="text-align: center;">
            <div>
                <label class="heading" style="text-align: center;">RESET PASSWORD</label><br /><br />
                <p class="intro" style="text-align: center;">Please enter your email address and we'll send you a link.</p><br /><br />
                <form #resetpassForm="ngForm" (ngSubmit)="onSubmit(resetpassForm)" autocomplete="off">
                <table style="margin-left: auto;margin-right: auto;">
                    <tbody>
                        <tr>
                            <td>
                                <input email class="inputEmail" required type="email" style="font-size: 12px; padding: 6px 10px;" id="email" name="email" #email="ngModel" ngModel minlength="7">
                            </td>
                        </tr>
                    </tbody>
                </table>
                <br />
                <p *ngIf="resetpassForm.touched && resetpassForm.value.email == '' && !resetpassForm.valid" style="color: #003359; font-size: 13px; text-align: center;">We need your email/username to reset your password</p>
                <br /><br />
                <button style="text-align: center;" class="submitButton" type="submit" mat-raised-button color="primary" [disabled]="!resetpassForm.valid">RESET PASSWORD</button>
            </form>
        </div>
    </div>
</div>
<br /><br /><br /><br /><br /><br /><br /><br /><br />
<!-- Mobile Layout -->
<div fxHide.gt-xs>
    <div class="mobile__navbar">
    
    </div>
</div>