<div class="mainDiv">
  <div class="col-xs-2 col-sm-8 col-md-10 col-lg-12">
    <app-navbar></app-navbar>
  </div>
  <div class="col-xs-2 col-sm-8 col-md-8 col-md-offset-2 col-lg-10 col-lg-offset-1">
      <div class="imageDiv">
        <img alt="No items in cart" src="../../../assets/images/no-cart-items2.png" width="350px" height="300px">
        <h3>Oops... There are no items in your cart</h3>
        <p class="link" routerLink="/catalogues">Go Shop</p>
      </div>
  </div>
</div>
