.heading {
    color: #003359;
    font-size: 24px;
    font-family: Roboto;
    font-weight: 500;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.intro {
    font-size: 12px;
    color: #003359;
    font-family: Roboto;
}

input[type="password"] {
    border: 1px solid lightgrey;
}

.email {
    border: 1px solid lightgrey;
    color: #575757;
    width: 230px;
    height: 30px;
    font-weight: 100;
}

.password {
    border: 1px solid lightgrey;
    color: #575757;
    width: 230px;
    height: 30px;
    font-weight: 100;
}

.confirmPassword {
    border: 1px solid lightgrey;
    color: #575757;
    width: 230px;
    height: 30px;
    font-weight: 100;
}

.inputEmail {
    width: 280px;
    height: 30px;
    border: 1px solid lightgrey;
    color: #575757;
}

.inputPassword {
    width: 280px;
    height: 30px;
    border: 1px solid lightgrey;
    color: #575757;
}

.inputConfirmPassword {
    width: 280px;
    height: 30px;
    border: 1px solid lightgrey;
    color: #575757;
}

.submitButton {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 12px;
}

.container {
    margin-top: 35px;
}

.inputEmail:focus {
    text-decoration: none;
    border: 1px solid lightgrey;
    outline: none;
}

.inputPassword:focus {
    text-decoration: none;
    border: 1px solid lightgrey;
    outline: none;
}

.inputConfirmPassword:focus {
    text-decoration: none;
    border: 1px solid lightgrey;
    outline: none;
}

.warning-label {
    color: red;
}