<div class="mainDiv">
  <div class="col-xs-2 col-sm-8 col-md-10 col-lg-12">
    <app-navbar></app-navbar>
  </div>
  <div class="col-xs-2 col-sm-8 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
    <h2 class="user-header" *ngIf="isLoading === false">Current Users</h2>
    <mat-spinner [diameter]="40" *ngIf="isLoading === true"></mat-spinner>
    <div [hidden]="isLoading === true">
      <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
        <!-- FirstName Column -->
        <ng-container matColumnDef="firstName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> First Name </th>
          <td mat-cell *matCellDef="let element"> {{ element.firstName }} </td>
        </ng-container>
        <!-- Surname Column -->
        <ng-container matColumnDef="surname">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Name </th>
          <td mat-cell *matCellDef="let element"> {{ element.surname }} </td>
        </ng-container>
        <!-- Email Column -->
        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
          <td mat-cell *matCellDef="let element"> {{ element.email }} </td>
        </ng-container>
        <!-- DOJ Column -->
        <ng-container matColumnDef="doj">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> DOJ </th>
          <td mat-cell *matCellDef="let element"> {{ element.doj | date:'medium' }} </td>
        </ng-container>
        <!-- UserRole Column -->
        <ng-container matColumnDef="userRole">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Role </th>
          <td mat-cell *matCellDef="let element"> {{ element.userRole }} </td>
        </ng-container>
        <!-- Edit Icon Column -->
        <ng-container matColumnDef="edit">
          <th class="icon-column" mat-header-cell *matHeaderCellDef mat-sort-header></th>
          <td mat-cell *matCellDef="let element"> <mat-icon title="Edit User" class="icon" (click)="onEditUser(element.email)">create</mat-icon> </td>
        </ng-container>
        <!-- Delete Icon Column -->
        <ng-container matColumnDef="delete">
          <th class="icon-column" mat-header-cell *matHeaderCellDef mat-sort-header></th>
          <td mat-cell *matCellDef="let element"> <mat-icon title="Delete User" class="icon" (click)="onDeleteUser(element.email)">delete_outlined</mat-icon> </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator class="paginator" [pageSizeOptions]="[5, 10, 20, 30, 40, 50, 100]"></mat-paginator>
    </div>
  </div>
</div>
<script>
  document.querySelector('mat-icon').addEventListener('mouseover', (e) => {
    e.target.setAttribute("title", document.querySelector("mat-icon.innerText p").innerText);
  });
</script>
