.main-div {
  margin-top: 35px;
}

input[type="text"] {
  width: 450px;
  outline: none;
  border: none;
  color: #575757;
}

#item-title,
h3 {
  color: #575757;
}

h3 {
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.mat-spinner {
  position: relative;
  margin-left: 50%;
  margin-right: 50%;
  margin-bottom: 50%;
  margin-top: 25%;
}

.update-address-container {
  margin-top: 50px;
  margin-left: 55px;
}

#address-data {
  width: 100%;
}

#item-title {
  width: 30%;
  padding-right: 5px;
  padding-top: 10px;
}

.update-button {
  width: 190px;
  height: 38px;
  background-color: #b9154a;
  padding: 10px 20px;
  text-align: center;
  padding-top: auto;
  padding-bottom: auto;
  color: white;
  font-weight: 400;
  border: none;
  outline: none;
  margin-top: 50px;
  margin-left: 250px;
}

.warning-container {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.warning-image {
  margin-top: 0px;
  width: 300px;
  height: 300px;
  object-fit: cover;
}
