<div class="mainDiv">
    <div class="col-xs-12">
        <app-navbar></app-navbar>
        <img class="image404" alt="Page Not Found" src="../../assets/images/page-not-found.png" width="300px" height="300px">
        <h3>404 Page Not Found</h3>
        <button class="backButton" routerLink="/">Go back</button>
    </div>
</div>
<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
