.mainDiv {
    margin-top: 35px;
}

.mat-spinner {
  position: relative;
  margin-left: 50%;
  margin-right: 50%;
  margin-bottom: 50%;
  margin-top: 25%;
}

.warning-container {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.warning-image {
  margin-top: 0px;
  width: 300px;
  height: 300px;
  object-fit: cover;
}