.added-to-cart__label {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 30px;
    padding-top: 5px;
    background: #b9154a;
    color: white;
    position: absolute;
    vertical-align: sub;
    font-weight: 300;
    animation: fadeOut 0.7s forwards;
    animation-delay: 0.1s;
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}