.mainDiv {
    margin-top: 35px;
    width: auto;
    height: max-content;
}

.recipeImage {
    width: 270px;
    height: 310px;
    object-fit: cover;
    margin-bottom: 5px;
}

.mat-grid-tile:focus {
    border: none;
    outline: none;
}

.recipeImage:hover {
    cursor: pointer;
}

.imageBanner {
    margin-top: 20px;
    height: 370px;
    width: 100%;
    object-fit: cover;
}

.mat-grid-list {
    margin-top: 20px;
    height: 1000px;
}

.bannerLabel {
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: #00315b;
    font-size: 28px;
    position: relative;
    font-weight: 300;
}

.bannerText {
    text-align: center;
    color: #00315b;
    font-size: 20px;
    font-weight: 300;
}

.textBlock {
    text-align: center;
    position: absolute;
    font-size: 28px;
    font-weight: 300;
    background-color: white;
    opacity: 0;
    color: #505050;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 130px;
    width: 275px;
    height: 100%;
}

.textBlock:hover {
    cursor: pointer;
    opacity: 0.8;
}

.textBlock:focus {
    border: none;
    outline: none;
}

.gridImage {
    width: 220px;
    height: 280px;
    object-fit: cover;
}

.mat-spinner {
    position: relative;
    margin-left: 50%;
    margin-right: 50%;
    margin-bottom: 50%;
    margin-top: 25%;
}

.warning-container {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.warning-image {
    margin-top: 0px;
    width: 300px;
    height: 300px;
    object-fit: cover;
}