.divMain {
  margin-top: 35px;
}

table,
tr,
th,
td {
  padding: 8px 15px 8px 15px;
  margin-left: auto;
  margin-right: auto;
}

.productTable {
  width: 100%;
}

input[type="number"] {
  outline: none;
  border: none;
  width: 60px;
  margin-left: auto;
  margin-right: auto;
  color: #464545dc;
}

input[type="number"]:focus {
  outline: none;
  border: none;
}

.priceTable {
  margin-top: 80px;
  margin-left: 70px;
  float: left;
}

.mat-spinner {
  position: relative;
  margin-left: 50%;
  margin-right: 50%;
  margin-bottom: 50%;
  margin-top: 25%;
}

tr {
  border-bottom: 1px solid #575757c2;
  color: #464545dc;
}

thead,
th {
  font-weight: 400;
  color: #464545dc;}

td {
  font-weight: 200;
}

tr:nth-child(even) {
  background-image: linear-gradient(to right,  #d4d1d1a1, #fafafaad);
}

td:nth-child(3) {
  text-align: center;
}


.mat-icon:hover {
  cursor: pointer;
}

.paypal {
  width: 500px;
  margin-top: 80px;
  margin-right: 70px;
  position: relative;
  float: right;
}

.linkLabel:hover {
  cursor: pointer;
  text-decoration: underline;
}

.product-title {
  margin-left: 550px;
}

.cart-input {
  color: white;
  text-align: left;
  padding-left: 10px;
  margin-left: auto;
  margin-right: auto;
  background-color: transparent;
}

/* #grad {
  background-image: linear-gradient(to right, #727070d8, #fafafaad);
} */

.cart-heading {
  color: #b9154a;
  text-align: center;
  font-weight: 100;
  font-size: 32px;
}

.warning-container {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.warning-image {
  margin-top: 0px;
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.totals-row {
  text-align: center;
}