.mainDiv {
    margin-top: 35px;
}

.mat-spinner {
    position: relative;
    margin-left: 50%;
    margin-right: 50%;
    margin-bottom: 50%;
    margin-top: 25%;
}

.no-paid-items-container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin: 5% 0;
}

.no-paid-items-image {
    margin-top: 0px;
    width: 300px;
    height: 300px;
    object-fit: cover;
}

.collection-items__container {
    margin-top: 35px;
}

.paginator {
    margin-bottom: 100px;
    color: #464545dc;
    background-color: #8b8b8ba1;
    box-shadow: 1px 2px 4px 4px rgba(228, 227, 227, 0.87);
}

tr {
    border-bottom: 1px solid #7c7c7cc2;
    color: #464545dc;
    background-color: #FFFFFF;
}

thead,
th {
    font-weight: 400;
    color: #464545dc;
}

td {
    font-weight: 200;
    color: #464545dc;
}

tr:nth-child(even) {
    background-image: linear-gradient(to right, #d4d1d1a1, #fafafaad);
}

.mat-table {
    margin-top: 50px;
    width: 100%;
}