a {
    text-decoration: none;
    color: white;
}

a:hover, a:active {
    text-decoration: none;
}

.navigation-items {
    list-style: none;
    display: flexbox;
    margin-right: -5px;
}

.nav-caption {
    display: inline-block;
    /* padding-left: 8px; */
}

.city {
    margin-left: -30px;
    left: 0;
}

.mat-menu {
    background-color: #B9154A;    
}

.mat-menu-item {
    background-color: #B9154A;
    width: 275px;
    border-bottom: 1px solid white;
}

.mat-menu-item:hover {
    background-color: rgb(207, 59, 106);
}

.header {
    position: fixed; 
    top: 0; 
    width: 100%;
    -moz-box-shadow: 3px 3px 5px 6px #ccc;
    -webkit-box-shaow: 3px 3px 5px 6px #ccc;
    box-shadow: 3px 3px 5px 6px #ccc;
}

button {
    font-size: 14px;
}

* {
    z-index: 1 !important;
}