table,
tr {
    border: 1px solid lightgrey;
    color: #575757;
    padding: 2px 0px;
}

table td {
    width: 75%;
}
input {
    width: 272px;
    border: 0.5px solid lightgrey;
    padding: 5px 10px;
}

.title {
    width: auto;
    font-size: 14px;
    font-weight: 200;
}

label {
    padding: 6px 10px;
    font-weight: 100;
}

button {
    font-size: 12px;
}

label {
    font-size: 12px;
}

textarea {
    width: 505px;
    height: 176px;
    border: 1px solid lightgrey;
    scroll-behavior: auto;
    color: #575757;
    font-size: 11px;
    resize: none;
    padding: 5px 5px;
    margin-left: 8px;
    text-align: left;
}

textarea:focus {
    text-decoration: none;
    outline: none;
}

.bannerImage:hover {
    cursor: pointer;
}

input[type="checkbox"]:hover {
    cursor: pointer;
}

input[type="checkbox"] {
    width: 150px;
    text-align: center;
}

input[type="text"], 
input[type="email"], 
input[type="password"] {
    outline: none;
    border: none;
    border-left: 0.01rem solid lightgrey
}

.container {
    margin-top: 42px;
}

input:focus {
    text-decoration: none;
    outline: none;
}

.form-group {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
