<div class="mainDiv">
    <div class="col-xs-12">
        <app-navbar></app-navbar>
        <mat-spinner [diameter]="40" *ngIf="isLoading === true"></mat-spinner>
        <div *ngIf="isLoading === true">

        </div>
    </div>
</div>
