.mainDiv {
    margin-top: 35px;
}

.mat-spinner {
  position: relative;
  margin-left: 50%;
  margin-right: 50%;
  margin-bottom: 50%;
  margin-top: 25%;
}

.mat-grid-list {
  margin-top: 50px;
}

.mat-grid-tile:focus {
  outline: none;
  border: none;
}

.gridImage {
  width: 220px;
  height: 280px;
  object-fit: cover;
}

.textBlock {
  text-align: center;
  position: absolute;
  font-size: 28px;
  font-weight: 400;
  background-color: white;
  opacity: .0;
  color: #505050;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 45%;
  width: 240px;
  height: 100%;
  word-wrap: break-word;
  word-break: keep-all;
}

.textBlock:hover {
  cursor: pointer;
  opacity: 0.80;
}

.textBlock:focus {
  outline: none;
  border: none;
}
