.mainDiv {
    margin-top: 35px;
}

.mat-spinner {
  position: relative;
  margin-left: 50%;
  margin-right: 50%;
  margin-bottom: 50%;
  margin-top: 25%;
}

.item {
  padding: 10px;
  box-sizing: border-box;
}

.tile {
  height: 65rem;
  width: auto;
  background-color: #ccc;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, .3);
}

.leftRs {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  width: 50px;
  height: 50px;
  box-shadow: 1px 2px 10px -1px rgba(0, 0, 0, .3);
  border-radius: 999px;
  left: 0;
}
 
.rightRs {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  width: 50px;
  height: 50px;
  box-shadow: 1px 2px 10px -1px rgba(0, 0, 0, .3);
  border-radius: 999px;
  right: 0;
}

.rightRs, .leftRs:focus {
  outline: none;
  border: none;
}

.myPoint {
  list-style-type: none;
  text-align: center;
  padding: 0px;
  margin: 0;
  white-space: nowrap;
  overflow: auto;
  box-sizing: border-box;
}

.myPoint  li {
  display: inline-block;
  border-radius: 50%;
  border: 2px solid rgba(0, 0, 0, 0.55);
  padding: 4px;
  margin: 0 5px;
  transition-timing-function: cubic-bezier(0.17, 0.67, 0.83, 0.67);
  transition: 0.4s;
}

.myPoint  li.active {
  background: #6b6b6b;
  transform: scale(1.2);
}

.item-image {
  height:100%;
  width: 100%;
  object-fit: cover;
  padding: 0px;
  margin: 2px 2px;
}

.heading {
  color: #3169B2;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 42px;
  font-weight: 500;
}

.paragraph {
  color: #3169B2;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 22px;
  font-weight: 300;
}

.warning-container {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.warning-image {
  margin-top: 0px;
  width: 300px;
  height: 300px;
  object-fit: cover;
}