<div class="mainDiv">
    <div class="col-xs-2 col-sm-8 col-md-10 col-lg-12">
        <app-navbar></app-navbar>    
        <div class="col-xs-2 col-sm-8 col-md-8 col-md-offset-2 col-lg-10 col-lg-offset-1">
            <mat-spinner [diameter]="40" *ngIf="isLoading === true"></mat-spinner>
            <div *ngIf="isLoading === false" >
                <!-- No Delivery Items -->
                <div style="text-align: center;" *ngIf="items.length <= 0">
                    <img style="margin-top: 5rem;" alt="No Delivery Items" src="../../../assets/images/no-delivery-items.jpg" width="450px" height="450px"/>
                    <h3 style="padding-top: 3rem;">Oops.. You have no delivery items.</h3>
                    <h5>Please proceed to complete checkout and select the delivery option</h5>
                </div>
                <!-- Has Delivery Items -->
                <div *ngIf="items.length > 0">
                    
                </div>
            </div>
        </div>
    </div>
</div>
