<div class="mainDiv">
  <div class="col-xs-2 col-sm-8 col-md-10 col-lg-12">
    <app-navbar></app-navbar>    
    <div class="col-xs-2 col-sm-8 col-md-8 col-md-offset-2 col-lg-10 col-lg-offset-1" style="margin-top: 5%;margin-bottom: 5%;">
      <img class="userImage" alt="User not logged in" src="../../../../assets/images/user-not-logged-in.png" width="250px" height="250px">
      <br />
      <hr />
      <h4>Your are not logged in</h4>
      <hr />
      <a routerLink="/">Go Home</a>
    </div>
  </div>
</div>
