<div class="col-xs-12" style="margin-top: -15px;">
    <app-navbar></app-navbar>
</div>
<div class="mainDiv">
    <div class="col-xs-12">
        <img style="margin-top: -40px;"  src="../../../assets/images/no-cart-items3.jpg" width="550px" height="500px" style=" object-fit: cover;"/>
        <h3 style="margin-top: -20px;">Oops... You have no favorite items</h3>
    </div>
</div>