.mainDiv {
  margin-top: 35px;
}

.itemImage {
  width: 130px;
  height: 130px;
  margin-top: 2.5rem;
  /* margin: 10px 15px; */
  padding-top: 0px;
  padding-bottom: 5px;
  cursor: pointer;
  object-fit: cover;
  transition: transform 0.5s;
}

.itemImage:focus {
  text-decoration: none;
  outline: none;
}

.itemImage:hover {
  transform: scale(1.25);
}

.item {
  border: 1px solid lightgrey;
  box-shadow: 0px 3px 4px #ccc;
  width: 176px;
  height: 480px;
  text-align: center;
  /* margin: 5px; */
  margin-top: 0px;
  margin-bottom: 0.5rempx;
  padding-top: 10px;
}

.mat-grid-tile-footer {
  width: 176px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  background-color: #505050;
}

.mat-grid-tile-header {
  width: 176px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  background-color: #505050;
}

.itemQuantity {
  padding: 0px 10px;
  margin-top: -20px;
  font-size: 14px;
  font-family: "Roboto";
  color: #505050;
  text-align: left;
}

.itemTitle {
  margin-top: 2rem;
  margin-bottom: 15px;
  padding: 1.5rem 12px 5px 12px;
  font-size: 16px;
  font-family: "Roboto";
  font-weight: 300;
  color: #505050;
  text-align: left;
  height: 75px;
}

.itemPrice {
  padding: 4rem 12px 1.0rem 11px;
  margin-top: 3.0rem;
  font-weight: 500;
  font-size: 18px;
  font-family: "Roboto";
  color: #505050;
  text-align: left;
}

* {
  box-sizing: border-box;
}

.matGrid {
  display: flex;
  margin-top: 0.5rem;
}

.filterHeader {
  padding: 15px;
  border: 1px solid lightgrey;
  width: 200px;
  margin-bottom: 50px;
  color: #505050;
  box-shadow: 0px 3px 4px #ccc;
}

.filterContent {
  position: relative;
  color: black;
}

.mat-spinner {
  position: relative;
  margin-left: 50%;
  margin-right: 50%;
  margin-bottom: 50%;
  margin-top: 25%;
}

.items {
  margin-top: -45px;
  padding: 15px;
  border: 1px solid lightgrey;
  width: 200px;
  margin-bottom: 50px;
  color: #505050;
  box-shadow: 0px 3px 4px #ccc;
}

.items:hover {
  cursor: pointer;
}

input[type="checkbox"]:hover {
  cursor: pointer;
}

.addButton {
  padding: 0px 15px, 20px, 15px;
  height: 39px;
  width: 154px;
  background-color: #b9154a;
  color: white;
  font-weight: 500;
  border-style: none;
  margin-top: 0.5rem;
  border-radius: 0.5rem;
}

.addButton:focus {
  text-decoration: none;
  outline: none;
}

.favoritesButton {
  background-color: #3374b6;
  width: 75px;
  float: left;
  height: 39px;
  color: white;
  font-weight: 300;
  margin-top: 5px;
  margin-left: 10px;
  margin-bottom: 15px;
  text-align: center;
  border: none;
  outline: none;
  padding-top: 5px;
  border-radius: 0.5rem;
}

.favoritesButton:focus {
  border: none;
  outline: none;
}

.listButton {
  position: relative;
  display: inline-block;
  margin-top: 5px;
  margin-left: -5px;
  margin-bottom: 15px;
  width: 75px;
  height: 39px;
  color: white;
  background-color: #13357a;
  border: none;
  outline: none;
  border-radius: 0.5rem;
}

.mat-dialog-container,
.backdropBackgroud {
  background-color: white;
  color: black;
}

.mat-list-option {
  color: black;
}

.filter-label {
  margin-left: 15px;
  vertical-align: middle;
  font-weight: 400;
  color: #575757;
}

.warning-container {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.warning-image {
  margin-top: 0px;
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.mat-paginator { 
  background-image: linear-gradient(to left, rgb(224, 224, 224), #fcfbfb); 
  color: #575757;
  margin: 25px;
}

::ng-deep .mat-form-field-appearance-legacy .mat-form-field-underline {
  background-color: transparent;
}

::ng-deep .mat-select-value {
  color: #575757;
  font-weight: 200;
  font-size: 12px;
}

::ng-deep .mat-select-arrow {
  color: #575757;
}

::ng-deep .mat-option{
  padding: 1em!important;
  background-color: rgb(224, 224, 224);
  color: #575757;
}

::ng-deep .mat-option:hover {
  padding: 1em!important;
  background-color: #575757;
  color: rgb(224, 224, 224);
}

::ng-deep #mat-option-0 {
  padding: 1em!important;
  background-color: rgb(224, 224, 224);
  color: #575757;
}

::ng-deep .mat-option-text {
  width: 3rem !important;
}

::ng-deep .mat-paginator {
  margin-top: 0rem !important;
}

.mat-radio-button ~ .mat-radio-button {
  color: #575757;
}