#searchInput {
    width: 295px;
    height: 36px;
    margin-left: 150px;
    align-content: center;
    border: 1px solid rgb(211, 211, 211);
    padding: 6px 10px;
    vertical-align: middle;
    margin-top: 10px;
}

.glyphicon-search {
    font-size: 20px;
    color: lightgrey;
}

button {
    height: 36px;
    width: 36px;
    background-color: #FFFFFF;
    border-style: none;
}

.shoppingLists {
    background-color: #13375A;
    color: #FFFFFF;
    width: 180px;
    height: 40px;
    border-style: none;
    border-width : 1px 1px 1px 1px;
    text-decoration : none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 30px;
    padding-left: 10px;
    border-radius: 0.5rem;
}

.favorites {
    width: 180px;
    height: 40px;
    background-color: #3374B6;
    color: #FFFFFF;
    text-decoration: none;
    font-size: 14px;
    padding-right: 30px;
    text-align: center;
    border-radius: 0.5rem;
}

.favorites:hover, .shoppingLists:hover {
    box-shadow: 0px 4px 5px rgb(184, 184, 184);
}

.glyphicon-heart-empty {
    color: #FFFFFF;
    padding-left: 30px;
    padding-right: 15px;
    padding-top: inherit;
    font-size: 19px;
    vertical-align: sub;
}

.favoritesContainer, .listsContainer {
    cursor: pointer;
    text-align: center;
}

a.favorites {
    width: 190px;
    height: 33px;
    border-style: none;
    border-width : 1px 1px 1px 1px;
    text-decoration : none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 50px;
    padding-left: 10px;
}

#btnFavorites {
    margin-left: 10px;
}

.glyphicon.glyphicon-th-list {
    font-size: 14px;
    padding-left: 30px;
    padding-right: 15px;
}

.shoppingLists {
    margin-left: 10px;
    cursor: pointer;
    font-family: Roboto, Oxygen;
}

.myDiv {
    display: flex;
    flex-direction: row;
    border: 1px solid rgb(211, 211, 211);
    padding: 2px;
    width: 325px;
    margin-left: 10px;
    margin-top: 10px;
}

input[type="text"] {
    flex-grow: 2;
    border: none;
    font-weight: 300;
}

input[type="text"]:focus {
    outline: none;
}

button {
    border: none;
    color: #FFFFFF;
}

.mat-icon {
    font-size: 36px;
}

.myIcons {
    padding-top: 10px;
    position: relative;
    float: right;
    margin-right: 10px;
}

.myIcons:hover {
    cursor: pointer;
}

.tabAnchor {
    text-decoration: none;
    font-size: 14px;
    padding: 13px 42px 14px 11px;
    float: left;
    font-weight: 400;
    color: #505050;
    margin-top: 5px;
    border-bottom: .25rem solid #FFFFFF;
}

.tabAnchor:hover {
    cursor: pointer;
    border-bottom: .25rem solid #B9154A;
}

.tabAnchor:focus {
    text-decoration: none;
    border: none;
    outline: none;
}

.tabAnchor:visited {
    cursor: pointer;
    border-bottom: 4px solid #B9154A;
}

#searchIcon:focus {
    text-decoration: none;
    border: none;
    outline: none;
}

.inputSearch {
    padding-left: 10px;
}

.searchButton:focus {
    text-decoration: none;
    border: none;
    outline: none;
}

.bannerImage {
    height: auto;
    width: auto;
}

.mainDiv {
    margin-top: 7px;
}

.bannerImage:focus {
    text-decoration: none;
    border: none;
    outline: none;
}

.bannerImage:hover {
    cursor: pointer;
}

.mat-menu {
    background-color: #B9154A;    
}

.mat-menu-item {
    background-color: #B9154A;
    width: 275px;
    border-bottom: 1px solid #FFFFFF;
}

.mat-menu-item:hover {
    background-color: rgb(207, 59, 106);
}

@media screen and (min-width: 360px) and (max-height: 640px) {
    .mobile__navbar {
        background-color: #B9154A;
        height: 35px;
        width: 100%;
    }
}