<div class="mainDiv">
  <div class="col-xs-2 col-sm-8 col-md-10 col-lg-12">
    <app-navbar></app-navbar>
  </div>
  <div class="col-xs-2 col-sm-8 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
    <mat-spinner [diameter]="40" *ngIf="isLoading === true"></mat-spinner>
      <h2 class="productsHeader" *ngIf="isLoading === false">Current Products</h2>
      <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8" [hidden]="isLoading === true">
        <!-- ProductID Column -->
        <ng-container matColumnDef="productID">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
          <td mat-cell *matCellDef="let product"> {{ product.productID }} </td>
        </ng-container>
        <!-- Title Column -->
        <ng-container matColumnDef="title">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Title </th>
          <td mat-cell *matCellDef="let product"> {{ product.title }} </td>
        </ng-container>
        <!-- Category Column -->
        <ng-container matColumnDef="category">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Category </th>
          <td mat-cell *matCellDef="let product"> {{ product.category }} </td>
        </ng-container>
        <!-- Brand Column -->
        <ng-container matColumnDef="brand">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Brand </th>
          <td mat-cell *matCellDef="let product"> {{ product.brand }} </td>
        </ng-container>
        <!-- Price Column -->
        <ng-container matColumnDef="price">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Price </th>
          <td mat-cell *matCellDef="let product"> {{ product.price }} </td>
        </ng-container>
        <!-- Quantity Column -->
        <ng-container matColumnDef="quantity">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Quantity </th>
          <td mat-cell *matCellDef="let product"> {{ product.quantity }} </td>
        </ng-container>
        <!-- Barcode Column -->
        <ng-container matColumnDef="barcode">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Barcode </th>
          <td mat-cell *matCellDef="let product"> {{ product.barcode }} </td>
        </ng-container>
        <!-- Edit Icon Column -->
        <ng-container matColumnDef="edit">
          <th class="icon-column" mat-header-cell *matHeaderCellDef mat-sort-header></th>
          <td mat-cell *matCellDef="let product"> <mat-icon class="icon" title="Update Product" (click)="onEditProduct(product.barcode)">create</mat-icon> </td>
        </ng-container>
        <!-- Delete Icon Column -->
        <ng-container  matColumnDef="delete">
          <th class="icon-column" mat-header-cell *matHeaderCellDef mat-sort-header></th>
          <td mat-cell *matCellDef="let product"> <mat-icon class="icon" title="Delete Product" (click)="onDeleteProduct(product.barcode)">delete_outlined</mat-icon> </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator id="paginator" class="paginator" [pageSizeOptions]="[10, 20, 30, 40, 50, 100]" showFirstLastButtons></mat-paginator>
  </div>
  <script>
    document.querySelector('.icon').addEventListener('mouseover', (e) => {
      e.target.setAttribute("title", document.querySelector(".icon.innerText p").innerText);
    });
  </script>
</div>