/* You can add global styles to this file, and also import other style files */
@import "@angular/material/prebuilt-themes/pink-bluegrey.css";
@import "../node_modules/angular-calendar/css/angular-calendar.css";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto"), local("Roboto"),
    url(https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap)
      format("woff2");
  font-display: swap;
}