.divMain {
  margin-top: 35px;
}

.userHeader {
  color: #b9154a;
  text-align: center;
  font-weight: 100;
  font-size: 32px;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

table,
tr,
th,
td {
  padding: 10px 50px 10px 15px;
  margin-left: auto;
  margin-right: auto;
}

thead,
th {
  font-weight: 400;
  color: #464545dc;}

td {
  font-weight: 200;
}

th:nth-child(3), td:nth-child(3), td:nth-child(5) {
  text-align: center;
}

tr {
  border-bottom: 1px solid #575757c2;
  color: #464545dc;
}

.itemImage {
  transition: transform 0.5s;
}

.itemImage:hover {
  transform: scale(1.35);
  cursor: pointer;
}

.mat-spinner {
  position: relative;
  margin-left: 50%;
  margin-right: 50%;
  margin-bottom: 50%;
  margin-top: 25%;
}

.mat-icon:hover {
  cursor: pointer;
}

table {
  margin-top: 50px;
  margin-bottom: 30px;
}

.linkLabel:hover {
  cursor: pointer;
  text-decoration: underline;
}

.title {
  padding-left: 230px;
}

.warning-container {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.warning-image {
  margin-top: 20px;
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.favoritesTable {
  margin-bottom: 10%;
}