.mainDiv {
    margin-top: 35px;
}

.myLabel {
    font-size: 56px;
    color: #34B05E;
    text-align: center;
    margin-bottom: 50px !important;
}

.mat-accordion, .expansion-panel {
    background-color: #34B05E !important;
}

.mat-accordion {
    margin-top: 50px !important;
}

.expansion-header {
    background-color: #34B05E !important;
    color: white !important;
    font-family: Roboto !important;
    font-size: 20px;
    font-weight: 400;
}

.expansion-content {
    background-color: #34B05E !important;
    color: white !important;
    font-family: Roboto !important;
    font-size: 16px;
    font-weight: 200;
}

.mat-expansion-panel-header.mat-expanded {
    background:  #34B05E !important;
}