.mainDiv {
    width: auto;
    height: max-content;
    margin-top: 35px;
}

.homeContainer {
    margin-top: 5px;
}

.headerLabel {
    text-align: center;
    background-color: #003359;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 300;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding: 15px 10px;
    margin-top: -20px;
}

.mainBanner {
    height: auto;
    width: 100%;
    margin-top: 10px;
}

.divider {
    margin-top: 20px;
    width: 100%;
    color: #505050;
    height: 2px;
    background-color: #969292;
}

.mainBanner:hover {
    cursor: pointer;
}

.pageNav {
    margin-top: 10px;
    float: left;
    background-color: #FFFFFF;
    color: #505050;
    font-size: 13px;
    padding: 10px 0px;
    width: 139px;
    height: 39px;
    border: 1px solid #505050;
    margin-right: 10px;
    text-align: center;
    font-weight: 400;
    cursor: pointer;
}

.pageNav:hover {
    background-color:  #003359;
    box-shadow: 0px 4px 5px rgb(184, 184, 184);
    color: #FFFFFF;
    font-weight: 400;
    font-size: 14px;
}

.pageNav:focus {
    outline: none;
    text-decoration: none;
}

.navContainer {
    margin-top: 10px;
}

.shp-nw-lbl:active{
    text-decoration: none;
    border: none;
    outline: none;
}

.gridImage {
    height: 200px;
    width: 275px;
    object-fit: cover;
}

.gridContainer {
    position: relative;
}

.text-block {
    text-align: center;
    position: absolute;
    background-color: #FFFFFF;
    opacity: .0;
    color: #505050;
    padding-left: 20px;
    padding-right: 20px;
    width: 275px;
    height: 100px;
    margin-top: 100px;
}

.text-block:hover {
    cursor: pointer;
    opacity: 0.8;
    box-shadow: 0px 4px 5px rgb(184, 184, 184);
}

.text-block:focus {
    text-decoration: none;
    outline: none;
}

.specials-container {
  margin-top: 3.5rem;
  margin-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  height: 250px;
  position: relative;
  display: inline-block;
}

.specials-image {
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin-right: 10px;
  text-align: center;
  margin-left: 10;
}

.specials-image:focus, .specials-container:focus {
  outline: none;
  text-decoration: none;
}

#circle {
  width: 50px;
  height: 50px;
  background: rgba(255, 0, 0, 0.733);
  border-radius: 50px;
  -webkit-border-radius: 50px;
  color: #FFFFFF;
  vertical-align: middle;
  text-align: center;
  font-size: 12px;
  padding-top: -80px;
  font-weight: 150;
}

.myImages {
  transition: transform 0.5s;
}

.myImages:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.discount {
  margin-top: -100px;
  margin-right: 8px;
}

.current-price {
  position: relative;
  /* float: inline-end; */
  display: block;
  text-align: center;
  margin-top: 2.5rem;
  font-size: 18px;
  font-weight: 400;
  padding-left: 50px;
}

.warning-container {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.warning-image {
  margin-top: -50px;
  width: 300px;
  height: 300px;
  object-fit: cover;
}

@media screen and (min-width: 360px) and (max-height: 640px) {
  .mobile__mainBanner {
    margin-top: -5px;
    width: 360px;
    height: auto;
  }

  .divider {
    width: 100%;
  }

  .headerLabel {
    margin-top: 0px;
    font-size: 12px;
  }

  .links__container {
    display: inline-flexbox;
    margin-top: 25px;
  }

  .tabAnchor {
    text-align: center;
  }
}
