<div class="mainDiv">
    <div class="col-xs-12">
        <app-navbar></app-navbar>
        <div class="imageDiv" style="margin-top: 5%;margin-bottom:5%">
            <img style="margin-top: 30px;" alt="No results found" src="../../../assets/images/no-results.png" width="300px" height="300px">
            <h3>Oops... We cannot find what you are looking for</h3><br />
            <label class="homeLink" routerLink="/">GO BACK</label>
        </div>
    </div>
</div>

