.mainDiv {
    margin-top: 35px;
    text-align: center;
}

.homeLink:focus  {
    text-decoration: none;
    border-style: none;
    outline: none;
}

.homeLink:hover {
    cursor: pointer;
    border-bottom: 2px solid #13375A;
}

.homeLink {
    color:  #13375A;
    font-weight: 500;
}

.imageDiv {
  margin-top: -100px;
}
